<div id="extension_settings_pronouns">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b data-i18n="Pronouns">Pronouns</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="flex-container flexFlowColumn">
                <label class="checkbox_label" for="pronouns_enable_wyvern_shorthands">
                    <input type="checkbox" id="pronouns_enable_wyvern_shorthands" />
                    <span title="Enables WyvernChat-style shorthand macros like {{she}}, {{him}}, {{their_}}, etc. in addition to the standard {{pronoun-*}} macros"
                        data-i18n="Enable WyvernChat shorthand macros">Enable WyvernChat shorthand macros</span>
                </label>
                <label class="checkbox_label" for="pronouns_enable_janitor_shorthands">
                    <input type="checkbox" id="pronouns_enable_janitor_shorthands" />
                    <span title="Enables JanitorAI-style shorthand macros like {{sub}}, {{obj}}, {{poss}}, {{poss_p}}, {{ref}} in addition to the standard {{pronoun-*}} macros"
                        data-i18n="Enable JanitorAI shorthand macros">Enable JanitorAI shorthand macros</span>
                </label>
                <div class="flex-container" style="margin-top: 8px;">
                    <div id="pronouns_open_replacer" class="menu_button" data-i18n="Open pronoun replacer">Open pronoun replacer</div>
                </div>
            </div>
        </div>
    </div>
</div>
